:root {
  --brand-color: #2f303a;
  --color-selected: #2196f3;
  --secundary-color: white;
  --tertiary-color: #f5f4fa;
  --go-service: #188ce8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: roboto, sans-serif;
  color: #757575;
  font-size: 14px;
}

.principal-color {
  background-color: var(--brand-color);
  margin: 0;
  border: none;
  padding: 200px 452px 200px;
  min-width: 1200px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
}

.header {
  padding: 24px 0 25px 0;
  -ms-flex-align: center;
}

.horizontal-ul {
  display: flex;
}

.principal-title {
  color: var(--secundary-color);
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-align: center;
}

.webstudio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--color-selected);
  text-decoration: none;
  display: flex;
  padding: 0 0 0 35px;
}

.list-style {
  list-style-type: none;
}

.link {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.17em;
  color: black;
  padding: 0 0 0 50px;
}

.header-contacts {
  padding-left: 262px;
}
.link:hover,
.link:focus,
.link:active,
.active-page {
  color: var(--color-selected);
}

.principal-button {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  background-color: var(--color-selected);
  color: var(--secundary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.principal-button:hover,
.principal-button:focus {
  background-color: var(--go-service);
}

.subtitle-sections {
  color: black;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}

.subtitle-products {
  color: black;
  line-height: 1.17;
  font-weight: 700;
}

.card-studio {
  justify-content: space-around;
  margin-bottom: 94px;
}
.section-team {
  background-color: var(--tertiary-color);
  margin: 50px 0 0 0;
  padding: 94px 0;
}

.subtitle-team {
  color: black;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  text-align: center;
}

.link-footer {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.17em;
  color: white;
  font-style: normal;
}

.link-footer:hover,
.link-footer:focus,
.link-footer:active {
  color: var(--color-selected);
}

.adress {
  color: white;
  font-style: normal;
}

.filter {
  width: 611px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  padding-bottom: 8px;
  justify-content: space-between;
}

.buttons-portfolio {
  font-family: inherit;
  background-color: var(--tertiary-color);
  color: #212121;
  font-size: 16px;
  line-height: 1, 625em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 18px 6px 18px;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus,
.buttons-portfolio:active {
  color: var(--secundary-color);
  background-color: var(--color-selected);
}

.subtitles-proyects {
  color: black;
  font-size: 18px;
  line-height: 2em;
  font-weight: 700;
}

.type-proyect {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}

.box-products {
  width: 270px;
  margin: 95px 16px;
}

.box-products:last-child {
  margin-right: 0;
}

.box-products:first-child {
  margin-left: 0;
}

.paragraph {
  line-height: 1.71em;
}

.card-members {
  background-color: var(--secundary-color);
}

.studio-header {
  color: var(--brand-color);
}

.studio-footer {
  color: var(--secundary-color);
}

.footer {
  background-color: var(--brand-color);
  border: none;
  min-width: 1200px;
  padding: 60px 0;
}

.galery {
  flex-wrap: wrap;
  justify-content: space-between;
}
